html {
    font-size: 1em;
/*    overflow-y: hidden;
*/    overflow-x: hidden;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
    margin: 0;
    height: 2160px;
    background-color: #2D2D2D;
}


#backgroundGradient{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

#canvas {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

.boundary {
    fill-opacity: 0;
    stroke: #fff;
    opacity: .3;
    stroke-width: 2;
    stroke-dasharray: 10;
    stroke-linecap: round;
    transition: 0.25s ease-out;

}

.boundary-text {
    fill: #fff;
    opacity: .5;
}

.boundary:hover {
    opacity: .6;
    transition: 0.25s ease-out;
}